<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>43</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>42</string>
							<key>Timestamp</key>
							<string>762363417.2316869</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/GFAlertVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    func configureContainerView() {
</string>
						<key>leading</key>
						<string>    }
    
</string>
						<key>trailing</key>
						<string>        view.addSubview(containerView)
        containerView.translatesAutoresizingMaskIntoConstraints = false
        containerView.backgroundColor = .systemBackground
</string>
					</dict>
					<key>title</key>
					<string>create GFAlertContainerView</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>36</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>35</string>
							<key>Timestamp</key>
							<string>762363417.231699</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/GFAlertVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        view.backgroundColor = UIColor(red: 0, green: 0, blue: 0, alpha: 0.75)
</string>
						<key>leading</key>
						<string>    override func viewDidLoad() {
        super.viewDidLoad()
</string>
						<key>trailing</key>
						<string>        configureContainerView()
        configureTitleLabel()
        configureActionButton()
</string>
					</dict>
					<key>title</key>
					<string>make this color a constant</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Challenges</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
